export(DTplyWithTotals)
export(authorShiny)
export(convertSASQuery)
export(ddplyWithTotals)
export(formatDataFrame)
export(formatTotals)
export(mydbGetQuery)
import(RJDBC)
import(data.table)
import(plyr)
import(reshape2)
import(shiny)
import(xlsx)
